/*body {
 
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: red;
}*/

/*a {
  color: #00B7FF;
}
.dropdown {
    color: palevioletred
}*/
/*.navbar-nav > li > .dropdown-menu { background-color: red; }*/
/*.btn-block {
    color: red;
}
#projectionDropdown {
    color:red;
}
.btn-info{
    border-color:red;
}
.dropCss{
    border-color: red;
    color: red;

}
a {
  color: #00B7FF;
}*/
/*.dropdown {
    color: palevioletred
}
.navbar-nav > li > .dropdown-menu { background-color: red; }
.btn-block {
    color: red;
}
#projectionDropdown {
    color:red;
}
.btn-info{
    border-color:red;
}*/
/*.dropCss{
    border-color: darkseagreen;
    background-color: darkseagreen;
}*/
/*.overhead{
    font: 20px;
}*/
/*#h1{
    font-size: 30px;
    padding: 10px;
    margin-top:10px;
}*/
#canvasOne{
position: absolute;
    left: 2%;
    right: 2%;
    bottom: 2%;
    top: 2%;
   
    z-index: -1;
    min-height: 98%;
    min-width: 98%;
    vertical-align: middle;
}
#globe{
position: absolute;
    /*margin-left: 2%;
    margin-right :2%;
    margin-bottom:2%;
    margin-top: 2%;*/
   
    z-index: -1;
    min-height: 98%;
    min-width: 98%;
    vertical-align: middle;
}
.btn{
    position:absolute;
    left:0;


}