body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: red;
}

a {
  color: #00B7FF;
}
.dropdown {
    color: palevioletred
}
.navbar-nav > li > .dropdown-menu { background-color: red; }
.btn-block {
    color: red;
}
#projectionDropdown {
    color:red;
}
.btn-info{
    border-color:red;
}
.dropCss{
    border-color: red;
    color: red;

}
body {
  padding: 50px;
  padding-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*.dropdown {
    color: palevioletred
}
.navbar-nav > li > .dropdown-menu { background-color: red; }
.btn-block {
    color: red;
}
#projectionDropdown {
    color:red;
}
.btn-info{
    border-color:red;
}*/
.dropCss{
    border-color: darkseagreen;
    background-color: darkseagreen;
}
.overhead{
    padding: 120px;
    font: 20px;
    padding:10px;
     margin-top:10px;
}
#h1{
    font-size: 30px;
    padding: 10px;
    margin-top:10px;
}
#canvasOne{
position: absolute;
    left: 100px;
    top: 100px;
    z-index: -1;
}
#globe{
position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    min-height: 1000px;
    min-width: 1000px;
}