/*body {
 
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: red;
}*/

/*a {
  color: #00B7FF;
}
.dropdown {
    color: palevioletred
}*/
/*.navbar-nav > li > .dropdown-menu { background-color: red; }*/
/*.btn-block {
    color: red;
}
#projectionDropdown {
    color:red;
}
.btn-info{
    border-color:red;
}
.dropCss{
    border-color: red;
    color: red;

}
a {
  color: #00B7FF;
}*/
/*.dropdown {
    color: palevioletred
}
.navbar-nav > li > .dropdown-menu { background-color: red; }
.btn-block {
    color: red;
}
#projectionDropdown {
    color:red;
}
.btn-info{
    border-color:red;
}*/
/*.dropCss{
    border-color: darkseagreen;
    background-color: darkseagreen;
}*/
/*.overhead{
    font: 20px;
}*/
/*#h1{
    font-size: 30px;
    padding: 10px;
    margin-top:10px;
}*/
#canvasOne{
position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    min-height: 100%;
    min-width: 100%;
    vertical-align: middle;
    overflow:hidden;
}
#globe{
position: absolute;
    /*margin-left: 2%;
    margin-right :2%;
    margin-bottom:2%;
    margin-top: 2%;*/
   
    z-index: -100;
    min-height: 100%;
    min-width: 100%;
    vertical-align: middle;
    overflow:hidden;
}
#wrapper{
        position: relative;

}
.main{
    /*position:fixed;
   top:0;
   left:0;*/
   z-index:100;
}
.column{
    /*position:fixed;
   top:0;
   left:0;*/
    z-index:100;
}
.btn{
    position:absolute;
    left:0;


}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
    margin: 0 !important;
}
.btn-group{
    margin-top:4px;
    width:20%;
}
.test{
    width:10%;
}
.btn-success{
    margin-top:4px;
}

.navbar-fixed-top{
    width:100%;
}
.container{
    width:100%;
}
.navbar-collapse{
    width:100%;
}

#tree-order-button,#example-order-button{
    width:200px;

}
#tree-order,#example-order{
    width:200px;
}
#month{
    margin-left: 20px;
}
#recentold-order{
    background-color:		#222222;
    color:lightgray;
    border-color:		#222222;
    margin-top:3%;
}
#plus{
    width:15%;
    height:15%;
}
