.Birke {
    /*font-weight: bold !important;*/
    color: white !important;
    background: rgba(217,0,217,0.6) !important;
    /*text-transform: uppercase;*/
}
.Erle {
    /*font-weight: bold !important;*/
    color: #fff !important;
    background: rgba(255,76,0,0.6) !important;
    /*text-transform: uppercase;*/
}
.Hasel{
    color: #fff !important;
    background: rgba(0,0,255,0.6) !important;

}


#canvasOne{
position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    min-height: 100%;
    min-width: 100%;
    vertical-align: middle;
    overflow:hidden;
}
#globe{
position: absolute;
    /*margin-left: 2%;
    margin-right :2%;
    margin-bottom:2%;
    margin-top: 2%;*/
   
    z-index: -100;
    min-height: 100%;
    min-width: 100%;
    vertical-align: middle;
    overflow:hidden;
}
#wrapper{
        position: relative;

}
.main{
    /*position:fixed;
   top:0;
   left:0;*/
   z-index:100;
}
.column{
    /*position:fixed;
   top:0;
   left:0;*/
    z-index:100;
}
.btn{
    position:absolute;
    left:0;


}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
    margin: 0 !important;
    width:10%;
    height:10%;

}
.btn-group{
    margin-top:4px;
    width:20%;
    display:inline-block;
}
.test{
    width:10%;
}
.btn-success, .btn-danger, .btn-warning {
    margin-top:4px;
}

.navbar-fixed-top{
    width:100%;
}
.container{
    width:100%;
}
.navbar-collapse{
    width:100%;
}

#tree-order-button,#example-order-button{
    width:50%;
    position:relative;
    float:left;

}
@-moz-document url-prefix() {
    #tree-order-button, #example-order-button {
        width: 50%;
        position: relative;
        float: left;
        margin-top: -13%;
        margin-left: 46%;
    }
}
@media only screen and (max-device-width:480px) {
    #recentold-order, #treeres, #month{
        display: block;
    }
    #tree-order-button, #example-order-button{
        margin-left: -10px;
        width:60px;
    }
    #tree-order, example-order{
        margin-left:30px;
        float: right;
  
    }
    
    /*#example-order{
        padding-left:30px;
        float: right;
    }*/
    /*.btn-group>.btn:first-child{
        margin-left: 20px;
    }*/


}
.navbar-brand {
   pointer-events: none;
   cursor: default;
}
img, #recentold-order {
        cursor: pointer;
    }
#tree-order,#example-order{
    width:25%;
    position:relative;
    float:left;
}
#month{
    margin-left: 20px;
}
#recentold-order{
    background-color:		#222222;
    color:lightgray;
    border-color:		#222222;
    margin-top:3%;
}
#plus{
    width:15%;
    height:15%;
}
#info{
    width:15%;
    height:15%;
    margin-left: 1em;
}
#dialogTree-order{
    width:100%;
}


/*################################################*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
/*#################################################*/
.axis line{
  stroke: white;
}

.axis path{
  stroke: white;
}

.axis text{
  fill: white;
}  
.ui-widget-header{
    background: rgba(51,51,51,1);
    color: rgba(157, 157, 157,1);
}
#Info{
    background:rgba(178,178,178,0.9) ;
    color: rgba(0,0,0,1);
    width: 500px;
}
.ui-widget-content{
    background: none;
}
div[aria-describedby="Info"]{
    width: 30em;
}